
html,body{
  overflow-y: hidden;
  overflow-x: hidden;
}

body{
  background-color: rgb(46, 46, 46);
  background-image: url("./assets/images/background3.jpg");
  /* background-repeat: no-repeat; */
  background-size: cover;
}