@import "../../Partials/global";


.home{
    position: fixed;
    top: 15%;
    left: 0;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__yoda {
        width: 350px;
        margin-bottom: 20px;
    }
    &__title {
        color: white;
        margin-bottom: 20px;
        font-family: 'Starjedi';
        font-size: 1.5rem;
        color: yellow;
        text-shadow: 2px 2px black;


    }
}


