// @font-face {
//     font-family: 'anakinmono';
//     font-style: normal;
//     font-weight: normal;
//     src: url('../assets/fonts/anakinmono.ttf') format('truetype')
// }

// @font-face {
//     font-family: 'Nunito';
//     src: url('../assets/fonts/Nunito.ttf') format('truetype');
//     font-style: normal;
//     font-weight: 400;
// }

@font-face {
    font-family: 'Starjhol';
    src: url('../assets/fonts/Starjhol.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Starjedi';
    src: url('../assets/fonts/Starjedi.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}